@import "bootstrap";

.google-maps {
	border: 1px;
    border-style: solid;
    padding: 25px;
    padding-top: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom:30px;
}

.container-fluid {
	margin:10px; 
	.row-direction h4 {
	margin-top:15px;
	}
}
